*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Montserrat, sans-serif;
    background: #fff;
}

/*Nombre de la pagina*/
.titulo-central{
    position: relative;
    top: 5em;
    text-align: center;
    font-size: 1.875em;
    font-style: normal;
    font-weight: normal;
    color: #000000;
}

/*Titulo apartado preguntas frecuentes*/
.titulo-seccion{
    position: absolute;
    font-size: 1.25em;
    left: 10.1875em;
    top: 14em;
}

.informacion-util{
    position: absolute;
    top: 20em;
    left: 10.1875em;
}

.pagos{
    position: absolute;
    top: 40.625em;
    left: 10.1875em;
}

.compras{
    position: absolute;
    top: 20em;
    left: 45em;
}

.activacion-juegos{
    position: absolute;
    top: 40.625em;
    left: 45em;

}

.pregunta-cuenta{
    position: absolute;
    top: 20em;
    left: 85em;

}

.pregunta-productos{
    position: absolute;
    top: 40.625em;
    left: 85em;

}

.menu-nav-info ul{
    position: absolute;
    list-style-type: none;
    top: 21.875em;
    left: 10.1875em;
}

.menu-nav-pagos ul{
    position: absolute;
    list-style-type: none;
    top: 42.5em;
    left: 10.1875em;
}

.menu-nav-compras ul{
    position: absolute;
    list-style-type: none;
    top: 21.875em;
    left: 45em;
}

.menu-nav-juegos ul{
    position: absolute;
    list-style-type: none;
    top: 42.5em;
    left: 45em;
}

.menu-nav-cuenta ul{
    position: absolute;
    list-style-type: none;
    top: 21.875em;
    left: 85em;
}

.menu-nav-productos ul{
    position: absolute;
    list-style-type: none;
    top: 42.5em;
    left: 85em;
}