@media screen and (min-width:980px){

    *{
        margin: 0;
        padding: 0;
    }

    body{
        font-family: Montserrat, sans-serif;
        background: #fff;
    }

    /*Titulo de la pagina*/
    .pagina-comunidad{
        position: relative;
        top: 5em;
        text-align: center;
        font-size: 1.875em;
        font-style: normal;
        font-weight: normal;
        color: #000000;
    }

    /*Titulo del apartado*/
    h1{
        position: absolute;
        font-size: 1.25em;
        left: 10.1875em ;
        top: 13em;
    }

    /*Texto e icono central*/
    .fin-sorteo{
        position: relative;
        text-align: center;
        font-size: large;
        top: 20em;
    }

    /*Volver a home*/
    button{
        position: relative;
        left: 45.5%;
        top: 28em;
        background: #FFA16D;
        border-radius: 0.375em;
        width: 14em;
        height: 3em;
        border: none;
        color: black;
    }
}

@media screen and (max-width:980px){

    *{
        margin: 0;
        padding: 0;
    }

    body{
        font-family: Montserrat, sans-serif;
        background: #fff;
    }

    /*Titulo de la pagina*/
    .pagina-comunidad{
        position: relative;
        top: 5em;
        text-align: center;
        font-size: 1.875em;
        font-style: normal;
        font-weight: normal;
        color: #000000;
    }

    /*Titulo del apartado*/
    h1{
        position: absolute;
        font-size: 1.25em;
        left: 10.1875em ;
        top: 13em;
    }

    /*Texto e icono central*/
    .fin-sorteo{
        position: relative;
        text-align: center;
        font-size: large;
        top: 20em;
    }

    /*Volver a home*/
    button{
        position: relative;
        left: 30em;
        top: 28em;
        background: #FFA16D;
        border-radius: 0.375em;
        width: 14em;
        height: 3em;
        border: none;
        color: black;
    }
}