*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Montserrat, sans-serif;
    background: #fff;
}

/*Titulo de la pagina*/
.pagina-comunidad{
    position: relative;
    top: 5em;
    text-align: center;
    font-size: 1.875em;
    font-style: normal;
    font-weight: normal;
    color: #000000;
}

/*Titulo del apartado*/
.sorteo{
    position: absolute;
    font-size: 1.25em;
    left: 10.1875em ;
    top: 13em;
}

.container{
    width: 70%;
    max-width: 60em;
    padding: 35px 50px;
    transform: translate(-50%,-50%);
    position: absolute;
    left: 45em;
    top: 50%;
    border-radius: 10px;
}

.columna-opciones{
    margin-top: 2em;
}

form{
    width: 100%;
    position: relative;
    margin: 30px auto 0 auto;
}

label{
    color: #1c093c;
    font-size: 14px;
}

input{
    width: 100%;
    font-weight: 400;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1.2px solid #c4cae0;
    margin-top: 5px;
}

input:focus{
    outline: none;
    border-color: #FFA16D;
}

button{
    margin-top: 2em;
    border: none;
    padding: 10px 20px;
    background-color: #FFA16D;
    color: black;
    border-radius: 3px;
}

.imagen-sorteo{
    position: relative;
    max-width: fit-content;
    left: 85em;
    margin-top: 15em;
}