/*Diseño Escritorio*/
@media screen and (min-width: 1300px) {
    * {
        margin:0;
        padding:0;
        font-family: Montserrat, sans-serif;
        text-decoration: none;
    }

    footer {
        position: absolute;
        width: 100%;
        height: 14em;
        background-color: #3d1f37;
        bottom: -20em;
    }

    ul {
        list-style: none;
        text-decoration: none;
    }

    .bold-footer {
        text-decoration: none;
        font-weight: bold;
        color: #ffffff;
    }

    .regular-footer {
        color: #ffffff;
    }

    .content {
        padding-top: 1em;
    }

    .info {
        text-align:center;
        position: absolute;
        width: 16.65875em;
        height: 10em;
        left: 5em;
        top: 2.434375em;
    }

    .ayuda {
        text-align:center;
        position: absolute;
        width: 17em;
        height: 10em;
        left: 32.5em;
        top: 2.434375em;
    }

    .comunidad {
        text-align:center;
        position: absolute;
        width: 16.65875em;
        height: 10em;
        right: 32.5em;
        top: 2.434375em;
    }

    .redes {
        text-align:center;
        position: absolute;
        width: 21.375em;
        height: 10em;
        right: 5em;
        top: 2.434375em;
    }

    .tw {
        position: absolute;
        width: 3em;
        height: 3em;
        left: 7.2em;
        top: 2em;
    }

    .ig {
        position: absolute;
        width: 3.85em;
        height: 3.85em;
        left: 6.8em;
        top: 5.6em;
    }

    .disc {
        position: absolute;
        width: 3.5em;
        height: 3.5em;
        left: 10.8em;
        top: 1.55em;
    }

    .fb {
        position: absolute;
        width: 3em;
        height: 3em;
        left: 11.05em;
        top: 6em;
    }
}

/*Diseño Tablet*/
@media screen and (min-width: 981px) and (max-width: 1300px) {
    * {
        margin:0;
        padding:0;
        font-family: Montserrat, sans-serif;
        text-decoration: none;
    }

    footer {
        position: absolute;
        width: 100%;
        height: 14em;
        background-color: #3d1f37;
        bottom: -20em;
    }

    ul {
        list-style: none;
        text-decoration: none;
    }

    .bold-footer {
        text-decoration: none;
        font-weight: bold;
        color: #ffffff;
    }

    .regular-footer {
        color: #ffffff;
    }

    .content {
        padding-top: 1em;
    }

    .info {
        text-align:center;
        position: absolute;
        width: 16.65875em;
        height: 10em;
        left: 0;
        top: 2.434375em;
    }

    .ayuda {
        text-align:center;
        position: absolute;
        width: 17em;
        height: 10em;
        left: 20em;
        top: 2.434375em;
    }

    .comunidad {
        text-align:center;
        position: absolute;
        width: 16.65875em;
        height: 10em;
        right: 20em;
        top: 2.434375em;
    }

    .redes {
        text-align:center;
        position: absolute;
        width: 21.375em;
        height: 10em;
        right: 0;
        top: 2.434375em;
    }

    .tw {
        position: absolute;
        width: 3em;
        height: 3em;
        left: 7.2em;
        top: 2em;
    }

    .ig {
        position: absolute;
        width: 3.85em;
        height: 3.85em;
        left: 6.8em;
        top: 5.6em;
    }

    .disc {
        position: absolute;
        width: 3.5em;
        height: 3.5em;
        left: 10.8em;
        top: 1.55em;
    }

    .fb {
        position: absolute;
        width: 3em;
        height: 3em;
        left: 11.05em;
        top: 6em;
    }
}

/*Diseño Móvil*/
@media screen and (max-width: 980px){

    * {
        text-decoration: none;
    }

    footer {
        position: absolute;
        width: 124.5%;
        height: 14em;
        background-color: #3d1f37;
        bottom: -33em;
    }

    ul {
        list-style: none;
        text-decoration: none;
    }

    .bold-footer {
        text-decoration: none;
        font-weight: bold;
        color: #ffffff;
    }

    .regular-footer {
        color: #ffffff;
    }

    .content {
        padding-top: 1em;
    }

    .info {
        text-align:center;
        position: absolute;
        width: 16.65875em;
        height: 10em;
        left: 0.5em;
        top: 2.434375em;
    }

    .ayuda {
        text-align:center;
        position: absolute;
        width: 17em;
        height: 10em;
        left: 21em;
        top: 2.434375em;
    }

    .comunidad {
        text-align:center;
        position: absolute;
        width: 16.65875em;
        height: 10em;
        right: 21em;
        top: 2.434375em;
    }

    .redes {
        text-align:center;
        position: absolute;
        width: 21.375em;
        height: 10em;
        right: 0.5em;
        top: 2.434375em;
    }

    .tw {
        position: absolute;
        width: 3em;
        height: 3em;
        left: 7.2em;
        top: 2em;
    }

    .ig {
        position: absolute;
        width: 3.85em;
        height: 3.85em;
        left: 6.8em;
        top: 5.6em;
    }

    .disc {
        position: absolute;
        width: 3.5em;
        height: 3.5em;
        left: 10.8em;
        top: 1.55em;
    }

    .fb {
        position: absolute;
        width: 3em;
        height: 3em;
        left: 11.05em;
        top: 6em;
    }
}