*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Montserrat, sans-serif;
    background: #fff;
}


.container{
    width: 70%;
    max-width: 60em;
    padding: 35px 50px;
    transform: translate(-50%,-50%);
    position: relative;
    left: 45em;
    top: 50%;
    border-radius: 10px;
}

/*Nombre de la pagina*/
h1{
    position: relative;
    margin-top: 6em;
    text-align: center;
    font-size: 1.875em;
    font-style: normal;
    font-weight: normal;
    color: #000000;
}

h2{
    position: relative;
    margin-top: 5em;
}

h3{
    position: relative;
    margin-top: 2em;
}

.linea-temporal{
    position: relative;
    margin-top: 5em;
}

.columna-opciones{
    position: relative;
    margin-top: 4em;
}

form{
    width: 100%;
    position: relative;

}

input{
    width: 100%;
    font-weight: 400;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1.2px solid #c4cae0;
    margin-top: 5px;
}

input:focus{
    outline: none;
    border-color: #FFA16D;
}

.subir-imagenes{
    position: relative;
    border: none;
    max-width: 15em;
    max-height: 10em;
}

.crear-ticket{
    position: relative;
    margin-top: 5em;
    border: none;
}


