*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Montserrat, sans-serif;
    background: #fff;
}

/*Nombre de la pagina*/
.titulo-central{
    position: relative;
    top: 5em;
    text-align: center;
    font-size: 1.875em;
    font-style: normal;
    font-weight: normal;
    color: #000000;
}

/*Titulo apartado Genere un ticket*/
.titulo-seccion{
    position: absolute;
    font-size: 1.4em;
    left: 10.1875em;
    top: 10em;
}


.linea-temporal{
    position: absolute;
    top: 15em;
    left: 40em;
}


/*Titulo apartado informacion del pedido*/
.informacion-pedido{
    position: absolute;
    left: 13.5em;
    top: 23em;
}

/*Apartado para escribir el id del cliente*/
.id-pedido{
    position: absolute;
    font-size: 1em;
    left: 20em;
    top: 26em;
}

/*Apartado para escribir el email del pedido*/
.email-pedido{
    position: absolute;
    font-size: 1em;
    left: 68em;
    top: 26em;
}

/*Tamaño de los textos de la seccion 2 y 3*/
p{
    font-size: 0.85em;
}

/*Apartado para escribir el metodo de pago usado*/
.metodo-pago{
    position: absolute;
    font-size: 1em;
    left: 20em;
    top: 32em;

}

button{
    background: #FFA16D;
    width: 6.25em;
    height: 2em;
    border-radius: 0.375em;
    position: absolute;
    top: 61%;
    left: 48%;
    font-size: 1em;
}

.boton-continuar{
    font-size: 0.9375em;
    text-align: center;
    color:black;
}