*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Montserrat, sans-serif;
    background: #fff;
}

/*Nombre de la pagina*/
.titulo-central{
    position: relative;
    top: 5em;
    text-align: center;
    font-size: 1.875em;
    font-style: normal;
    font-weight: normal;
    color: #000000;
}

/*Titulo apartado Genere un ticket*/
h1{
    position: relative;
    font-size: 1.5em;
    top: 7em;
    left: 10em;
    width: 20em;
}

/*encabezado de detalles del pedido*/
h2{
    position: relative;
    font-size:1.20em;
    top: 9em;
    left: 8.5em;
    width: 20em;
}

/*Seccion para introducir el correo electronico*/
.correo{
    position: relative;
    top: 11.5em;
    left: 10em;
    width: 30em;
}

/*texto en -algo que añadir-*/
.comentario-extra{
    position: relative;
    top: 13.5em;
    left: 10em;
    width: 50em;
}

/*caja de comentario*/
.inputForm{
    height: 150px;
    width: 350px;
}

/*comentario dentro de la caja de comentario*/
::placeholder{
    font-style: normal;
    font-family: Montserrat, sans-serif;
}

/*apartado añadir imagenes*/
.imagenes{
    position: relative;
    top: 16em;
    left: 10em;
    width: 50em;
}

button{
    background: #FFA16D;
    border-radius: 0.375em;
    border: none;
    color: black;
}

/*boton de subir imagenes*/
.subir-imagenes{
    position: relative;
    width: 14em;
    height: 3em;
    top: 1em;
    left: 15em;
}

.paso1 {
    margin-top: 2em;
    width: 15em;
}
.paso2 {
    width: 15em;
}

/*boton crear ticket*/
.crear-ticket{
    width: 13em;
    height: 7em;
    position: relative;
    left: 60%;
    font-size: 1em;
}
