* {
    margin:0;
    padding:0;
    font-family: Montserrat, monospace;
}

header {
    width: 100%;
    overflow: hidden;
    height: 9.375em;
    position: relative;
    background-color: #ffffff;
}

nav {
    top:-1.25em;
    position: absolute;
    left: 25em;
    margin:1.25em auto;
    max-width:62.5em;
    width:90%;
}

nav ul {
    list-style:none;
}

nav > ul {
    display:table;
    width:100%;
    background: #bd879d;
    position:absolute;
}

nav > ul li {
    display:table-cell;
}

/*sub-menu*/
nav > ul > li:hover > ul {
    display:block;
    height:100%;
}

nav > ul > li > ul {
    display:block;
    position:absolute;
    background:#E39FB4;
    left:0;
    right:0;
    overflow:hidden;
    height:0;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

nav > ul li a {
    color:#000000;
    font-weight:bold;
    display:block;
    line-height:1.25em;
    padding:1.25em;
    position: relative;
    text-align:center;
    text-decoration:none;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

nav > ul > li > ul > li a:hover {
    background:#cc4400;
}

nav > ul > li > a span {
    background:#174459;
    display:block;
    height:100%;
    width:100%;
    left:0;
    position:absolute;
    top:-3.4375em;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

nav > ul > li > a:hover > span {
    top:0;
}

.icon {
    position: absolute;
}

/*colores*/
nav ul li a .baja {
    position: absolute;
    background: #b45873;
}

.header {
    position: fixed;
    margin-top: 0;
    z-index: 2000;
}

.icon-consolas {
    width: 2.6875em;
    height: 3.3125em;
    left: 3.8em;
    top: 0.1em;
}

.icon-juegos {
    width:  3.3125em;
    height: 5.1875em;
    left: 2.7em;
    top: -0.8em;
}

.icon-accesorios {
    width: 3.178125em;
    height: 4.5625em;
    left: 4.2em;
    top: -0.41em;
}

.icon-controladores {
    width: 4.293125em;
    height: 6.75em;
    left: 5.15em;
    top: -1.5em;
}

.icon-componentes {
    width: 4.280625em;
    height: 4.280625em;
    left: 4.6em;
    top: -0.16em;

}

.icon-pc {
    width: 5.5em;
    height: 5.5em;
    left: -0.2em;
    top: -0.8em;
}

.logo {
    position: absolute;
    width: 4em;
    height: 4em;
    left: 0;
    top: 0;
}

.lupa {
    position: absolute;
    width: 3.8em;
    height: 3.8em;
    right: 0;
    top: 0;
    text-align: center;
    font-size: 1.25em;
    cursor: pointer;
}

.buscar {
    position: absolute;
    padding: 0.3125em;
    top: 0;
    right: 9.5em;
}

.buscar input {
    width: 0;
    height: 3.7em;
    padding: 0 1.25em;
    font-size: 1.125em;
    color: #000000;
    outline: none;
    border: 0 solid #000000;
    border-radius: 1.875em;
    transition: all 0.6s ease;
    background-color: rgba(0, 0, 0, 0);
}

.buscar:hover input {
    width: 30em;
    border: 0.0625em solid #000000;
    border-radius: 1.875em;
    background-color: #ffffff;
}

.buscar input:focus {
    width: 30em;
    border: 0.0625em solid #000000;
    border-radius: 1.875em;
    background-color: #ffffff;
}

.carrito {
    position: absolute;
    width: 6em;
    height: 4em;
    right: 4.5em;
    top: 0.05em;
}

.user {
    position: absolute;
    width: 4.5em;
    height: 4em;
    right: 0;
    top: 0;
}