/*Dise침o Escritorio*/
@media screen and (min-width: 1367px){

    *{
        margin: 0;
        padding: 0;
    }

    body{
        font-family: Montserrat, sans-serif;
        background: #fff;
    }

    /*Nombre de la pagina*/
    .titulo-central{
        position: relative;
        left: 40%;
        top: 5em;
        text-align: center;
        font-size: 1.875em;
        font-style: normal;
        font-weight: normal;
        max-width: 15em;
        color: #000000;
    }

    /*Titulo apartado preguntas frecuentes*/
    h1{
        position: relative;
        left: -27em;
        font-size: 1.25em;
        top: 10em;
    }

    .apartado{
        background-color: #ffffff;
        margin-top: 1em;
        padding: 15px 40px;
        border-radius: 5px;
        box-shadow: 0 15px 25px rgba(0,0,50,0.2);
    }


    .menu-nav{
        width: 100%;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        color: #FFA16D;
        font-weight: 500;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 15px 0;
    }

    .parrafo{
        position: relative;
        font-size: 14px;
        text-align: justify;
        line-height: 30px;
        height: 0;
        overflow: hidden;
        transition: all 1s;
    }

    .informacion-util{
        position: absolute;
        top: 17em;
        left: 6%;
        max-width: 33em;
    }

    .pagos{
        position: absolute;
        top: 53em;
        left: 6%;
        max-width: 33em;
    }

    .compras{
        position: absolute;
        top: 17em;
        left: 35%;
        max-width: 33em;
    }

    .activacion-juegos{
        position: absolute;
        top: 46em;
        left: 35%;
        max-width: 33em;

    }

    .pregunta-cuenta{
        position: absolute;
        top: 17em;
        left: 64%;
        max-width: 33em;

    }


    .pregunta-productos{
        position: absolute;
        top: 48em;
        left: 64%;
        max-width: 33em;

    }

    .footer-help{
        position: absolute;
        bottom: -30em;
    }



}


/*Dise침o Tablet*/
@media screen and (min-width: 981px) and (max-width: 1366px){
    *{
        margin: 0;
        padding: 0;
    }

    body{
        font-family: Montserrat, sans-serif;
        background: #fff;

    }

    /*Nombre de la pagina*/
    .titulo-central{
        position: relative;
        left: 32%;
        top: 5em;
        text-align: center;
        font-size: 1.875em;
        font-style: normal;
        font-weight: normal;
        max-width: 15em;
        color: #000000;
    }

    /*Titulo apartado preguntas frecuentes*/
    h1{
        position: relative;
        left: -22em;
        font-size: 1.25em;
        top: 10em;
    }

    .apartado{
        background-color: #ffffff;
        margin-top: 1em;
        padding: 15px 40px;
        border-radius: 5px;
        box-shadow: 0 15px 25px rgba(0,0,50,0.2);
    }


    .menu-nav{
        width: 100%;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        color: #FFA16D;
        font-weight: 500;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 15px 0;
    }

    .parrafo{
        position: relative;
        font-size: 14px;
        text-align: justify;
        line-height: 30px;
        height: 0;
        overflow: hidden;
        transition: all 1s;
    }

    .informacion-util{
        position: absolute;
        top: 20em;
        left: 6%;
        max-width: 33em;
    }

    .compras{
        position: absolute;
        top: 20em;
        left: 50%;
        max-width: 33em;
    }


    .pregunta-cuenta{
        position: absolute;
        top: 50em;
        left: 6%;
        max-width: 33em;

    }

    .pagos{
        position: absolute;
        top: 50em;
        left: 50%;
        max-width: 33em;
    }


    .activacion-juegos{
        position: absolute;
        top: 80em;
        left: 6%;
        max-width: 33em;

    }


    .pregunta-productos{
        position: absolute;
        top: 80em;
        left: 50%;
        max-width: 33em;
        margin-bottom: auto ;

    }

    .footer-help{
        position: absolute;
        bottom: -73em;
    }
}



/*Dise침o M칩vil*/
@media screen and (max-width: 980px){


    *{
        margin: 0;
        padding: 0;
    }

    body{
        font-family: Montserrat, sans-serif;
        background: #fff;
        display: grid;
        min-height: 100vh;
        grid-template-rows: auto 1fr auto;
        
    }

    /*Nombre de la pagina*/
    .titulo-central{
        position: relative;
        left: 3em;
        top: 5em;
        text-align: center;
        font-size: 1.875em;
        font-style: normal;
        font-weight: normal;
        max-width: 15em;
        color: #000000;
    }

    /*Titulo apartado preguntas frecuentes*/
    h1{
        position: relative;
        left: 3em;
        font-size: 1.25em;
        top: 10em;
    }

    .apartado{
        background-color: #ffffff;
        margin-top: 1em;
        padding: 15px 40px;
        border-radius: 5px;
        box-shadow: 0 15px 25px rgba(0,0,50,0.2);
    }


    .menu-nav{
        width: 100%;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        color: #FFA16D;
        font-weight: 500;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 15px 0;
    }

    .parrafo{
        position: relative;
        font-size: 14px;
        text-align: justify;
        line-height: 30px;
        height: 0;
        overflow: hidden;
        transition: all 1s;
    }

    .container{
        max-width: 100%;
        position: relative;
        left: 6em;
        top: 16em;
    }

    .informacion-util  {
        margin-bottom: 4em;
    }

    .pagos{
        margin-bottom: 4em;
    }

    .compras{
        margin-bottom: 4em;
    }

    .activacion-juegos {
        margin-bottom: 4em;

    }

    .pregunta-productos{
        margin-bottom: 4em;

    }

    .pregunta-cuenta{
        margin-bottom: 4em;
    }

    .footer-help{
        margin-top: auto;
        bottom: -130em;
        width: 157%;

    }

    .footer-help ul{
        transform: scale(0.7);
    }



    .footer-help .ayuda{
        left: 8em;
    }

    .footer-help .comunidad{
        left: 15em;
    }

    .footer-help .redes{
        left: 20em;
    }


}
