/*Dise침o Escritorio*/
@media screen and (min-width: 1367px) {
    * {
        margin: 0;
        padding: 0;
        font-family: Montserrat, sans-serif;
    }

    body {
        text-align: center;
        margin: 0;
        position: relative;
        padding-bottom: 14em;
        min-height: 100vh;
    }

    .products {
        visibility: hidden;
        overflow: hidden;
        display: none;
    }

    .warinings_singup_position.w_inactive {
        visibility: hidden;
    }

    .warnings {
        width: 100%;
        color: #ac1f38;
        font-size: 1em;
        text-align: center;
        position: absolute;
        bottom: 11em;
        transition: 0.3s ease all;
        padding-top: 2em;
        padding-bottom: 2em
    }

    .warinings_singup_position {
        background: #F8F8F8;
        visibility: visible;
        position: absolute;
        justify-content: center;
        border-radius: 1em;
        right: -39em;
        bottom: 25em;
        transition: 0.3s ease all;
    }
}

/*Dise침o Tablet*/
@media screen and (min-width: 981px) and (max-width: 1366px) {
    * {
        margin: 0;
        padding: 0;
        font-family: Montserrat, sans-serif;
    }

    body {
        text-align: center;
        margin: 0;
        position: relative;
        padding-bottom: 14em;
        min-height: 100vh;
    }

    .products {
        visibility: hidden;
        overflow: hidden;
        display: none;
    }

    .warinings_singup_position.w_inactive {
        visibility: hidden;
    }

    .warnings {
        width: 100%;
        color: #ac1f38;
        font-size: 1em;
        text-align: center;
        position: absolute;
        bottom: 11em;
        transition: 0.3s ease all;
        padding-top: 2em;
        padding-bottom: 2em;
    }

    .warinings_singup_position {
        background: #F8F8F8;
        visibility: visible;
        position: absolute;
        justify-content: center;
        border-radius: 1em;
        right: -32.5em;
        bottom: 25em;
        transition: 0.3s ease all;
        max-width: 30em;
        padding-left: 2em;
    }
}

/*Dise침o M칩vil*/
@media screen and (max-width: 980px){
    * {
        margin: 0;
        padding: 0;
        font-family: Montserrat, sans-serif;
    }

    body {
        text-align: center;
        margin: 0;
        position: relative;
        padding-bottom: 14em;
        min-height: 100vh;
    }

    .products {
        visibility: visible;
        position: relative;
        margin-top: 5em;
        left: 7em;
    }

    .products article {
        text-align: center;
        align-items: center;
        margin-top: 7em;
        max-height: 20em;
        margin-bottom: 16em;
    }

    .products img {
        max-height: 30em;
    }

    .products label {
        font-weight: bold;
        text-align: center;
        display: inline-block;
        padding-top: 0.5em;
        font-size: 3em;
    }
    .warinings_singup_position.w_inactive {
        visibility: hidden;
    }

    .warnings {
        width: 100%;
        color: #ac1f38;
        font-size: 1em;
        text-align: center;
        position: absolute;
        bottom: 11em;
        transition: 0.3s ease all;
        padding-top: 2em;
        padding-bottom: 2em
    }

    .warinings_singup_position {
        background: #F8F8F8;
        visibility: visible;
        position: absolute;
        justify-content: center;
        border-radius: 1em;
        bottom: -20em;
        transition: 0.3s ease all;
    }
}