@media screen and (min-width: 980px) {
    * {
        margin: 0;
        padding: 0;
        font-family: Montserrat, sans-serif;
    }

    body {
        text-align: center;
        margin: 0;
        position: relative;
        padding-bottom: 14em;
        min-height: 100vh;
    }

    .products {
        visibility: hidden;
    }

}

/*Diseño Móvil*/
@media screen and (max-width: 980px){
    * {
        margin: 0;
        padding: 0;
        font-family: Montserrat, sans-serif;
    }

    body {
        text-align: center;
        margin: 0;
        position: relative;
        padding-bottom: 14em;
        min-height: 100vh;
    }

    .products {
        visibility: visible;
        position: relative;
        margin-top: 5em;
        left: 7em;
    }

    .products article {
        text-align: center;
        align-items: center;
        margin-top: 7em;
        max-height: 20em;
        margin-bottom: 16em;
    }

    .products img {
        max-height: 30em;
    }

    .products label {
        font-weight: bold;
        text-align: center;
        display: inline-block;
        padding-top: 0.5em;
        font-size: 3em;
    }
}