* {
    margin:0;
    padding:0;
    font-family: Montserrat, monospace;
}

body {
    text-align: center;
}

.slider {
    width: 110.25em;
    height: 51.4375em;
    margin: auto;
    display: block;
}

.slider-img {
    max-width: 110.25em;
    max-height: 46.125em;
    margin: auto;
}

.slider-nav {
    max-width: 110.25em;
    height: 5.25em;
    display: block;
}

figure label {
    margin: 0.5em;
}

.circulo_g {
    content: "";
    background-color: #E34F21;
    width: 2.92625em;
    height: 2.92625em;
    border: none;
    border-radius: 50%;
    position: absolute;
    text-align: left;
}

.circulo_p {
    content: "";
    width: 2.006875em;
    height: 2.006875em;
    background-color: #FF833D;
    border: none;
    border-radius: 50%;
    position: absolute;
    display: inline;
    text-align: left;
}

.adelante {
    max-width: 2.055em;
    max-height: 2.055em;
    position: absolute;
    right: 0;
    text-align: right;
}

.atras {
    max-width: 2.055em;
    max-height: 2.055em;
    position: absolute;
    right: auto;
    text-align: right;
}