*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Montserrat, sans-serif;
    background: #fff;
}

.header-newsletter{
    text-align: center;
    position: absolute;
    margin-top: 12em;
    margin-left: 12em;
}

/*Ambos botones de la newsletter*/
.formulario-entrada{
    text-align: center;
    position: absolute;
    top: 55%;
    left: 45%;
    font-size: 1.5em;
}

/*recuadro del formulario*/
.formulario {
    background: #FFA16D;
    width: 15em;
    height: 3.75em;
    border-radius: 0.375em;
    border: none;
    text-align: center;
}

::placeholder{
    color: black;
}

/*boton de suscribete*/
button{
    background: none;
    width: 6.25em;
    height: 2em;
    border-radius: 0.375em;
    border: none;
    text-align: center;
    position: absolute;
    top: 61%;
    left: 47.5%;
    font-size: 1em;
}
