input[type=text], select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    clear: both;
    width: 100%;
}

input[type=text]{
    float: left;
    margin: 10px;
    width: 75%;

}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    /*background-color: #f2f2f2;*/
    /*padding: 20px;*/
}
/*---------------------------------------*/
th, td {
    padding: 10px;
    margin-bottom: 0%;
    padding-left: 0%;
    font-family: "Montserrat";
}

.contentPurchase {
    margin: 0;
    /*background: linear-gradient(to bottom right, #E3F0FF, #FAFCFF);*/
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
}
.OrangeRectangle{

    position: absolute; left: 65%;
    width: 447px;
    height: 684px;
    background: #FFAE81;
    border-radius: 30% 10%;

    /*margin-top: 7%;*/



    /* Shadow 1 */
    /*
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.14);
    border-radius: 52px;
    float: right;
    margin: auto; */
}


.WhiteRectangle{
    position: absolute; /* right: 6em;*/
    width: 270px;
    height: 477px;
    background: #FFFFFF;
    border-radius: 10%;
    padding: 40px;
    margin-left: 2%;
    left: 8%;
    right: 8%;
    top: 10%;



    /*left: 0px;
    top: 0px;
    float: right;
    margin: auto;
    position: relative; */

    /* Shadow 1 */
    /*box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.14);
    border-radius: 52px; */
}

.Rectangle{
    float: right;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.14);
    perspective: 100px;

}

.testLeft {
    float: left;
    height: auto;
    margin-right: 4%;
    margin-top: 0%;
    margin-left: 8%;
}


.BlueRectangle{

    position: absolute;
    width: auto;
    height: auto;

    /* Rectangle 9 */

    left: 0%;
    right: 0%;
    bottom: 10%;

    margin-bottom: 50px;
    margin: 23px;

    /* Gradient/Blue Gradient 1 */
    background: linear-gradient(137.27deg, #2F88FF 19.41%, #1D68CD 65.49%);

    box-shadow: 0px 4px 4px rgba(14, 53, 191, 0.25);
    border-radius: 6px;
}

.TextoBlanco{
    /*
    position: absolute;
    left: 12px;
    right: 11px;
    top: 25%;
    bottom: 25%; */

    align-items: center;
    text-align: center;
    margin-top: 1em ;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    text-align: center;

    /* Grey/Grey 1 */

    color: #F6F6F6;

}

#naranjita{
    color: #FFAE81;
    font-family: "Open Sans";
    font-size: 13px;
}

th, td {
    padding: 5px;
    margin-bottom: 0%;
    padding-left: 0%;
    font-family: "Open Sans";
}

.Linea{
    position: absolute;
    width: 300px;
    height: 0px;
    left: 20px;
    bottom: 54%;
    /* Grey/Grey 3 */

    border: 1px solid #E0E0E0;
}


.politicas{
    padding-top: 10px;
}

label{
    padding: 10px;
    margin-bottom: 0%;
    padding-left: 0%;
    font-family: "Open Sans";
}


.progressBar{
    position: absolute;
    top: 12%;
    left: 11%;
    width: 750px;
    height: 80px;
}

.norton img{
    font-family: Montserrat;
    position: absolute;


    /* Rectangle 9 */

    left: 0%;
    right: 0%;
    bottom: 0%;

    margin-bottom: 50px;
    margin: 23px;
    margin-left: 40%;
    margin-top: 20%;
}

#fcardnumber{
    text-align: center;
    background-image: url("/IMGS/purchase/creditCardLogo.png");
    background-size: 60px;
    background-repeat: no-repeat;
}


#lCVV{
    text-align: center;
    background-image: url("/IMGS/purchase/creditCardLogo.png");
    background-size: 60px;
    background-repeat: no-repeat;
}
#lpaypal{
    text-align: center;
    background-position-y: center;
    background-image: url("/IMGS/purchase/paypal.png");
    background-size: 60px;
    background-repeat: no-repeat;
}

.coment{
    text-align: center;
    padding-top: 5%;
}