
.slider {
    width: 110.25em;
    height: 51.4375em;
    justify-content: center;
    align-items: center;
}

.slider_list {
    max-width: 93%;
    overflow: hidden;
    max-height:  50em;
}

.slider_container {
    position: relative;
}

.slider_element {
    text-align: center;
    margin-top: 10em;
    max-width: 110.25em;
    max-height: 46.125em;
}

.slider_back, .slider_next {
    position: absolute;
    display: block;
    width: 2.006875em;
    height: 2.006875em;
    border: none;
    top: calc(100% + 2.1875em);
    cursor: pointer;
    line-height: 1.875em;
    text-align: center;
    background: none;
    color: #000000;
    transition: .3s ease all;
    opacity: 0.5;
}

.slider_back:hover, .slider_next:hover {
    opacity: 1;
}

.slider_back {
    right: 18em;
}
.slider_next {
    right: 16em;
}

.slider_idicators {
    margin-top: 1em;
    max-width: 93%;
    position: absolute;
    left: 18em;
}

.slider_idicators .glider-dot {
    display: block;
    width: 2.006875em;
    height: 2.006875em;
    background: #FF833D;
    transition: .3s ease all;
    opacity: 0.75;
    margin-top: 0.5em;
}

.slider_idicators .glider-dot:hover {
    opacity: 1;
}

.slider_idicators .glider-dot.active {
    width: 2.92625em;
    height: 2.92625em;
    background: #E34F21;
    opacity: 1;
    margin-top: 0;
}