html{
    width: 100%;
    height: 100%;
}


#successful{
    width: 10px ;
    height: auto;
    margin-top: 30%;
    margin-left: 35%;
}



.TextoCompraFinal{
    /* Pago completado exitosamente. */
    margin-top: 1%;
    margin-left: 18%;
    position: absolute;

    /*
    width: 646px;
    height: 32px;
*/
    width: auto;
    height: auto;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 20px;
    /* or 56% */

    display: flex;
    align-items: flex-end;
    letter-spacing: 0.3px;

    color: #000000;
}

.GoToMain{
    margin-top: 10%;
    margin-left: 25%;
    position: absolute;
    /*
    width: 509px;
    height: 32px;
    */

    width: auto;
    height: auto;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 20px;
    /* or 83% */

    display: flex;
    align-items: flex-end;
    letter-spacing: 0.3px;

    color: #0075FF;
}


.OrangeRectangle{

    position: absolute; left: 65%;
    width: 447px;
    height: 684px;
    background: #FFAE81;
    border-radius: 30% 10%;

    /*margin-top: 7%;*/



    /* Shadow 1 */
    /*
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.14);
    border-radius: 52px;
    float: right;
    margin: auto; */
}


.WhiteRectangle{
    position: absolute; /* right: 6em;*/
    width: 270px;
    height: 477px;
    background: #FFFFFF;
    border-radius: 10%;
    padding: 40px;
    margin-left: 2%;
    left: 8%;
    right: 8%;
    top: 10%;



    /*left: 0px;
    top: 0px;
    float: right;
    margin: auto;
    position: relative; */

    /* Shadow 1 */
    /*box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.14);
    border-radius: 52px; */
}

.Rectangle{
    float: right;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.14);
    perspective: 100px;

}

.testLeft {
    float: left;
    height: auto;
    margin-right: 4%;
    margin-top: 0%;
    margin-left: 8%;
}


.BlueRectangle{

    position: absolute;
    width: auto;
    height: auto;

    /* Rectangle 9 */

    left: 0%;
    right: 0%;
    bottom: 10%;

    margin-bottom: 50px;
    margin: 23px;

    /* Gradient/Blue Gradient 1 */
    background: linear-gradient(137.27deg, #2F88FF 19.41%, #1D68CD 65.49%);

    box-shadow: 0px 4px 4px rgba(14, 53, 191, 0.25);
    border-radius: 6px;
}

.TextoBlanco{
    /*
    position: absolute;
    left: 12px;
    right: 11px;
    top: 25%;
    bottom: 25%; */

    align-items: center;
    text-align: center;
    margin-top: 1em ;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    text-align: center;

    /* Grey/Grey 1 */

    color: #F6F6F6;

}

#naranjita{
    color: #FFAE81;
    font-family: "Open Sans";
    font-size: 13px;
}
.politicas{
    padding-top: 10px;
}

.norton img{
    font-family: Montserrat;
    position: absolute;


    /* Rectangle 9 */

    left: 0%;
    right: 0%;
    bottom: 0%;

    margin-bottom: 50px;
    margin: 23px;
    margin-left: 40%;
    margin-top: 20%;
}

.progressBar{
    position: absolute;
    top: 4%;
    left: 11%;
    width: 750px;
    height: 100px;
}
