* {
    margin:0;
    padding:0;
    font-family: Montserrat, monospace;
}

header {
    width: 100%;
    overflow: hidden;
    height: 9.375em;
    position: relative;
}

nav {
    top:-1.25em;
    position: relative;
    left:0;
    right:0;
    margin:1.25em auto;
    max-width:62.5em;
    width:90%;
}

nav ul {
    list-style:none;
}

nav > ul {
    display:table;
    width:100%;
    background: #bd879d;
    position:relative;
}

nav > ul li {
    display:table-cell;
}

/*sub-menu*/
nav > ul > li:hover > ul {
    display:block;
    height:100%;
}

nav > ul > li > ul {
    display:block;
    position:absolute;
    background:#E39FB4;
    left:0;
    right:0;
    overflow:hidden;
    height:0;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

nav > ul li a {
    color:#000000;
    font-weight:bold;
    display:block;
    line-height:1.25em;
    padding:1.25em;
    position: relative;
    text-align:center;
    text-decoration:none;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

nav > ul > li > ul > li a:hover {
    background:#cc4400;
}

nav > ul > li > a span {
    background:#174459;
    display:block;
    height:100%;
    width:100%;
    left:0;
    position:absolute;
    top:-3.4375em;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

nav > ul > li > a span .icon {
    display:block;
    line-height:3.75em;
}

nav > ul > li > a:hover > span {
    top:0;
}

/*colores*/
nav ul li a .baja {
    background: #b45873;
}

.header {
    position: fixed;
    margin-top: 0;
    z-index: 2000;
}

.icon-consolas {
    position: center;
    left: 16.93%;
    right: 80.42%;
    top: 39.11%;
    bottom: 35.9%;
}

.icon-juegos {
    position: center;
    left: 24.53%;
    right: 72.4%;
    top: 33.87%;
    bottom: 29.83%;
}

.icon-accesorios {
    position: center;
    width: 3.178125em;
    height: 4.5625em;
    left: 38.875em;
    top: 5.6875em;
}

.icon-controladores {
    position: center;
    width: 68.69px;
    height: 108px;
    left: 803px;
    top: 74px;
}

.icon-componentes {
    position: center;
    width: 4.280625em;
    height: 4.280625em;
    left: 63.125em;
    top: 5.8125em;

}

.icon-pc {
    position: center;
    width: 4.280625em;
    height: 4.343125em;
    left: 63.125em;
    top: 5.8125em;
}

.logo {
    position: absolute;
    width: 7em;
    height: 7em;
    left: 1em;
    top: 0;
}

.lupa {
    position: absolute;
    width: 5.0625em;
    height: 4.25em;
    left: 96.8225em;
    top: 5.01em;
}

.carrito {
    position: absolute;
    width: 6.875em;
    height: 3.996875em;
    left: 101.885em;
    top: 5.135em;
}

.user {
    position: absolute;
    width: 8.8125em;
    height: 6.875em;
    left: 108.76em;
    top: 3.6975em;
}